{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
<div class="header__menu">
  <div class="center-column">
    
    <svg id="show-form" xmlns="http://www.w3.org/2000/svg" width="32" height="25" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
      <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg>

     <form id="date-form" class="search-form mx-3" method="GET" action="">
      {% for form in date_form %}
        <label class="date-label">{{form.label}}</label>
        {{form}}
      {% endfor %}
      <input class="date btn-success" type="submit" value="Submit">
  </form>

    <form method="POST" action="">
      {% csrf_token %}
      {{ form.title }}
      <input id="add-task" class="btn btn-success" type="submit" value="Submit" name="Create Task">
    </form>

    <div class="todo-list">
      {% for task in tasks %}
      <div class="item-row" data-info="{{ task.slug }}">
        <svg data-url="{% url 'delete_task' task.slug %}" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x delete" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>

        <a class="update" href="{% url 'update_task' task.slug %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
        </a>
          <span id="text">{{ task }}</span>
          {% if task.complete == True %}
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          {% endif %}

        <hr style="margin: 5px;">

        <div>
          <small>{{task.created|date:"d/m/Y G:i"}}</small>
        </div>
      </div>
      {% endfor %}
      
      {% if page_obj.has_other_pages %}
      <div class="d-flex mt-3 justify-content-center page-container">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1{{ parameters }}">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{{ parameters }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}{{ parameters }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}{{ parameters }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{{ parameters }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{{ parameters }}">Last</a>
        {% endif %}

      {% endif %}
      </div>  
    </div>
  </div>

  <script src="{% static 'main.js' %}"></script>

  {% endblock content %}